@import "tailwindcss";
@source "../**/*.html";
@source "../assets/**/*.js";

@theme {
  --color-primary: #d1a868;
  --color-secondary: #fcf8f2;
  --color-accent: #c21f1f;
  --font-heading: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}